@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');

$font-roboto: 'Roboto', sans-serif;
$font-abel: 'Abel', sans-serif;

.font-roboto {
    font-family: $font-roboto;
}
.font-abel {
    font-family: $font-abel;
}