<div class="container site-footer text-center">
    <h3>About</h3>
    <p class="footer-text">This is a small Blazor website I built using the <a href="https://www.thecocktaildb.com/" target="_blank">Cocktail DB</a> API.</p>
    <div class="link-box">
        <a href="https://github.com/JoelAndersson98" target="_blank"><i class="fab fa-github fa-2x"></i></a>
    </div>
</div>

@code {

}
